*.mp4
*.m4a
*.mov
Computo Distribuido/Proyecto/Proyecto_Calculadora_ArandaMejiaBrianAntonio/.idea/libraries/JavaFXSDK14.xml
Computo Distribuido/Proyecto/Proyecto_Calculadora_ArandaMejiaBrianAntonio/.idea/codeStyles/Project.xml
/Codigo Abierto/Proyectos_Netbeans/Graficas2021/nbproject/private/
/Codigo Abierto/Proyectos_Netbeans/Graficas2021/build/
/Codigo Abierto/Proyectos_Netbeans/WebGraficas/nbproject/private/
/Codigo Abierto/Proyectos_Netbeans/WebGraficas/build/
/Codigo Abierto/Proyectos_Netbeans/PruebasLDAP2021/build/
/Codigo Abierto/Proyectos_Netbeans/MapasTematicos2021/nbproject/private/
/Codigo Abierto/Proyectos_Netbeans/MapasTematicos2021/build/
/Codigo Abierto/Proyectos_Netbeans/DMTCodigoAbiertoEmbedded/target/
/CodigoAbierto/Proyectos_Netbeans/DMTCodigoAbiertoNetworkClientDerby/target/
/CodigoAbierto/Proyectos_Netbeans/MapasTematicos2021/build/
/CodigoAbierto/Proyectos_Netbeans/derby_up/dist/
/CodigoAbierto/NTP/NTP/NTP/build/
/CodigoAbierto/NTP/NTP/NTP/nbproject/private/
/CodigoAbierto/Proyectos_Netbeans/NTP/build/
/CodigoAbierto/Proyectos_Netbeans/NTP/nbproject/private/
/CodigoAbierto/22Marzo/DibujaPNG/nbproject/private/
/CodigoAbierto/22Marzo/Hilos/build/
/CodigoAbierto/22Marzo/Hilos/nbproject/private/
/CodigoAbierto/22Marzo/ICMP/build/
/CodigoAbierto/22Marzo/ICMP/dist/
/CodigoAbierto/22Marzo/ICMP/nbproject/private/
/CodigoAbierto/22Marzo/telnet2021/nbproject/private/
/CodigoAbierto/Proyectos_Netbeans/telnet2021/build/
/CodigoAbierto/Proyectos_Netbeans/Hilos/build/
/CodigoAbierto/Proyectos_Netbeans/Hilos/nbproject/private/
/CodigoAbierto/Proyectos_Netbeans/DibujaPNG/nbproject/private/
/CodigoAbierto/Proyectos_Netbeans/DibujaPNG/build/
/CodigoAbierto/Proyectos_Netbeans/DNSCliente/build/
/CodigoAbierto/Proyectos_Netbeans/TareaDNS/nbproject/private/
/CodigoAbierto/Proyectos_Netbeans/TareaDNS/build/
/CodigoAbierto/Proyectos_Netbeans/KML/build/
/CodigoAbierto/Proyectos_Netbeans/MQTT_Tutorial/build/
/CodigoAbierto/Proyectos_Netbeans/gs/Grafos2021/build/
/CodigoAbierto/Proyectos_Netbeans/EjerciciosGuiaExamen/nbproject/private/
/CodigoAbierto/Proyectos_Netbeans/EjerciciosGuiaExamen/build/
/CodigoAbierto/Proyectos_Netbeans/ExamenFinalCABAAM/nbproject/private/
/CodigoAbierto/Proyectos_Netbeans/ExamenFinalCABAAM/build/
Especialidad/Dispositivos_Hapticos/ArcheryGameTest/
Especialidad/Dispositivos_Hapticos/ArcheryProject/
Especialidad/Dispositivos_Hapticos/chai3d-3.2.0-multiplatform/
Especialidad/Dispositivos_Hapticos/Unity_Connectivity-Implementation-master/
Especialidad/Dispositivos_Hapticos/UP-Physics-main/
Especialidad/Procesadores_Graficos_TiempoReal/ClaseImage/
Especialidad/Procesadores_Graficos_TiempoReal/ProyectoFinal/Shadergraph_project/
Especialidad/Procesadores_Graficos_TiempoReal/ProyectoFinal/ProyectoFinal_ShaderGraph_Aranda_Pineda_Juarez.zip
