<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

</head>
<body>
    
    <div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-overlay">
        <header class="bmd-layout-header bg-success">
          <div class="navbar navbar-light bg-faded">
            <button class="navbar-toggler" type="button" data-toggle="drawer" data-target="#dw-s2">
              <span class="sr-only">Toggle drawer</span>
              <i class="material-icons">menu</i>
              <p>Servicios</p>
            </button>
            <ul class="nav navbar-nav">
              <li class="nav-item">Bienvenido a compromiso social :{{estudiante.name}}{{proyectos.name}}{{institucion.name}}{{compromiso.name}}</li>
            </ul>
          </div>
        </header>
        <div id="dw-s2" class="bmd-layout-drawer bg-faded">
          <header>
            <a class="navbar-brand">{{estudiante.name}}{{institucion.name}}</a>
          </header>
          <ul class="list-group">
            <a href = "{%url 'logout' %}" class="list-group-item">Cerrar Sesión</a>
            {% if compromiso.name%}
            <a class="list-group-item" href="/estudiantescomp">Estudiantes</a>
            <a class="list-group-item">Instituciones</a>
            {% elif estudiante.name%}
            <a class="list-group-item" href="/estudiantescomp">Perfil</a>
            <a class="list-group-item">Instituciones</a>
            {% elif institucion.name%}
            <a class="list-group-item">Perfil</a>
            <a class="list-group-item" href="/proyectos">Proyectos</a>
            {% endif %}
          </ul>
        </div>
        <main class="bmd-layout-content">
            {% block content%}
            {% endblock %}
        </main>
      </div>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
</body>
</html>
 
    